
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* shered-style */
.white-color{
    color: #FFFFFF;

}
.flex{
    display: flex;
    gap: 0.5rem;
}

header{
    /* border: 1px solid red; */
    margin: 0 auto;
    /* width: 95%; */
    background-color: #412567;
    
}

.navber{
    margin: 0 auto;
    width: 95%;
    /* background-color: #412567; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6.85rem auto;
    border-bottom: 0.16rem;
    
}

#hum{
    display: none;
}
#nav-logo img{
    width: 50px;
}


.navber ul{
    display: flex;
    justify-content: center;
    gap: 1.85rem;
}
.navber ul li{
    list-style: none;
}
.navber ul li a{
    text-decoration: none;
    font-weight: 600;
    line-height: 120%;
    opacity: 90%;
}

.btn-primary{
    padding: 0.75rem 1rem;
    border-radius:625rem;
    background:linear-gradient(-106deg,#F7E93F,#FB09B4,#9100F8);
    border: none;
    font-weight: 600;
    display: flex;
   justify-content: center;
   align-items: center;

}
#first-btn{
    width: 8.43rem;
   
}

#banner{
    background-image: url("../assets/hero-bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    justify-items: center;
    
}
.banner-container{
    /* border: 1px solid red; */
    width: 35%;
    /* max-width: 35rem; */
    margin: 0 auto;
    text-align: center;
    padding-top: 100px;
    
}

.main-logo-div{
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

#img-1{
    width:64%;
    height: 64%;
    max-width: 21.8rem;
    position: relative;
    margin: 0 auto;
}


#img-2{
    width: 16%;
    height: 28%;
    max-width: 7.25rem;
    max-height: 10.93rem;
    position: absolute;

}
.new-btn{
     padding: 0.5rem 1rem;
    border-radius:625rem;
    border: none;
    background-color: #00FF88;
    position: absolute;
    top: 13.75rem;
    right: 30.87rem;
}
#h-1{
    font-size: 40px;
    font-weight: 1000;
    margin-top: 40px;
    
 
}
.btn-div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1.5rem auto 6.25rem auto;
}

.message-btn{
     padding: 0.75rem 1rem;
    border-radius:625rem;
    border:1px solid #00FF88;
    color: #00FF88;
}


#about-section{
    background-color: #1A0B2E;
}
.about-container{
    width: 75%;
    margin: 0 auto;
    padding-top:50px;
    padding-bottom: 120px;
    text-align: center;
}
.about-container h3{
    font-size: 48px;
    font-weight: bold;
    color: #FFFFFF;
    
}
.about-container p{
    line-height: 20px;
    color: #FFFFFF;
}
hr{
    width: 75%;
    color: #FFFFFF;
    opacity: 10%;
    margin: 80px auto;
}
.result-div{
    display: flex;
    justify-content: space-around;
    
}
#rating{
    font-size: 48px;
    font-weight: 900px;
    color: #00FF88;
}
#grid-section{
    background-color: #230E3D;
    padding: 120px 200px;
    text-align: center;
}

.grid-title{
    font-size: 48px;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 40px;
}

#card-1{
    grid-area: card-1;
}

#card-2{
    grid-area: card-2;
}

#card-3{
    grid-area: card-3;
}
#card-4{
    grid-area: card-4;
}
#card-5{
    grid-area: card-5;
}

.green{
    color: #00FF88;
}

.grid-container{
    display: grid;
    width: 75%;
    margin: 0 auto;
    gap: 30px;
    grid-template-columns: repeat(3,1fr);
  grid-template-areas: 
  "card-1 card-2 card-2"
  "card-1 card-3 card-3"
  "card-4 card-4 card-5";
}
.grid-card{
    border-radius: 40px;
    box-shadow: 0px 4px 4px #000000ab;
    padding: 40px;
    text-align: start;
    color: #351165
}
#feature-section{
    background-color: #1A0B2E;
    text-align: center;
    padding-top: 120px;
}
.vedio-container{
    width: 1200px;
    margin: 0 auto;
    gap: 30px;
    display: flex;
    justify-content: center;
    /* text-align: center; */

}
.youtube-card{
     /* border-radius: px; */
    box-shadow: 0px 4px 4px #000000ab;
    width: 350px;
    text-align: start;
    color: #351165;
    padding: 10px;
    
}
#host-section{
background-color: #1A0B2E;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 120px;
}
.host-container{
     width: 75%;
    margin: 0 auto;
}
.host-card{
display: flex;
gap: 24px;
align-items: center;
padding: 48px 40px;
text-align: start;
border-radius: 40px;
background-color: #5111657e;

}
.alex{
    font-size: 32px;
    font-weight: bold;
    color: #FFFFFF;
}
.logo-div{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 8px;
}
footer{
    background-image: url(../assets/footer-bg.png);
    background-size: cover;
    background-position: center;
}
.footer-container{
    width: 85%;
    margin: 0 auto;
    text-align: center;
    padding: 120px;
}

.icone-container{
    display: flex;
    gap: 40px;
    justify-content: center;
    margin: 32px;
}


@media screen and (max-width:576px){
    .navber ul li a{
        display: none;
    }
    #first-btn{
        display: none;
    }

    /* navber style */

    .hidden-items{
        display: none;
    }
    .navber{
    background-color: #412567;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.16rem;
    
}
#nav-logo img{
    /* width: 13.64rem; */
}

#hum{
    display: flex;
}
.result-div{
    flex-wrap: wrap;
}

#grid-section{
    background-color: #230E3D;
    padding: 0px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.grid-container{
    display:block;
    width: 95%;
    margin:0 auto;
}
    /* gap: 30px; */
   
    /* grid-template-columns: repeat(3,1fr);
  grid-template-areas: 
  "card-1 card-2 card-2"
  "card-1 card-3 card-3"
  "card-4 card-4 card-5"; */

.grid-card{
    border-radius: 10px;
    box-shadow: 0px 0px 20px #000000ab;
    padding: 10px;
    text-align: start;
    color: #37116571;
    width: 100%;
    /* border: solid 1px blue; */
    margin-bottom: 30px;
}
.grid-title{
    font-size: 32px;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 10px;
}

#feature-section{
    background-color: #1A0B2E;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
}
.vedio-container{
    width: 100%;
    display: block;
    margin: 0 auto;
    justify-content: center;
    gap: 30px;
    text-align: center;

}
.youtube-card{
     border-radius: 30px;
    box-shadow: 0px 4px 4px #27050511;
    width: 95%;
    text-align: center;
    color: #3a14b7d0;
    margin-bottom: 30px;
    padding: 30px;
}

#host-section{
background-color: #1A0B2E;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}
.host-container{
     width: 95%;
    margin: 0 auto;
}
.host-card{
display: block;
justify-content: center;
text-align: center;
gap: 24px;
align-items: center;
padding: 48px 40px;
/* text-align: start; */
border-radius: 40px;
background-color: #5111657e;

}
.alex{
    font-size: 32px;
    font-weight: bold;
    color: #FFFFFF;
}
.logo-div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-top: 8px;
}
footer{
    background-image: url(../assets/footer-bg.png);
    background-size: cover;
    background-position: center;
}
.footer-container{
    width: 95%;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

.icone-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin: 20px;
}
.fotter-img{
    width: 200px;
}

/* banner */
#banner{
    background-image: url("../assets/hero-bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    justify-items: center;
    
}
.banner-container{
    width: 95%;
    /* max-width: 35rem; */
    margin: 0 auto;
    text-align: center;
    padding-top: 100px;
    
}

.main-logo-div{
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

#img-1{
    width:40%;
    /* height: 64%; */
    max-width: 21.8rem;
    position: relative;
    margin: 0 auto;
}


#img-2{
    width: 10%;
    height: 20%;
    max-width: 7.25rem;
    max-height: 10.93rem;
    position: absolute;

}
.new-btn{
     padding: 0.3rem 0.3rem;
    border-radius:625rem;
    border: none;
    background-color: #00FF88;
    position: absolute;
    top: 8.50rem;
    right: 7.80rem;
}
#h-1{
    font-size: 30px;
    font-weight: 1000;
    margin-top: 40px;
    
 
}
.btn-div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1.5rem auto 6.25rem auto;
}

.message-btn{
     padding: 0.75rem 1rem;
    border-radius:625rem;
    border:1px solid #00FF88;
    color: #00FF88;
}




}
