



.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* shered-style */
.white-color{
    color: #FFFFFF;

}

.navber{
    background-color: #412567;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.85rem 12.5rem;
    border-bottom: 0.16rem;
    
}


.navber ul{
    display: flex;
    justify-content: center;
    gap: 1.85rem;
}
.navber ul li{
    list-style: none;
}
.navber ul li a{
    text-decoration: none;
    font-weight: 600;
    line-height: 120%;
    opacity: 90%;
}

.btn-primary{
    padding: 0.75rem 1rem;
    border-radius:625rem;
    background:linear-gradient(-106deg,#F7E93F,#FB09B4,#9100F8);
    border: none;
    font-weight: 600;
    display: flex;
   justify-content: center;
   align-items: center;

}
#first-btn{
    width: 8.43rem;
   
}

#banner{
    background-image: url("../assets/hero-bg.png");
    background-size: cover;
    display: flex;
    justify-content: center;
}
.banner-container{
    width: 35%;
    max-width: 35rem;
    margin: 6.25rem auto;
    text-align: center;
}
#img-1{
    width:21.8rem;
}